<section id="footer" class="category">
    <div class="page-align">
        <form action="/admin/editCategory-Submit/{{categoryEdit._id}}" method="post">
            <div class="row mb-3">
                <label for="inputEmail" class="col-sm-2 col-form-label">Category</label>
                <div class="col-sm-5">
                    <input type="text" name="name" class="form-control" value="{{categoryEdit.name}}">
    
                </div>
                <div class="col-sm-5">
                    <button class="btn btn-secondary" type="submit">Add</button><br>
                    
                    <a class="return-add-category" href=""></a>
                
    
                </div>
            </div>
            <p class="error"></p>
        </form>
    </div>
</section>