<div class="login_register_area">
    <div class="container">
        <div class="row gx-5">
            <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 offset-xl-1">
                <h3 class="title-7">Enter the Otp</h3>
                <div class="login_wrapper">
                    
                    
               
                    <form action="/successOtpverify" method="post">
                        <div class="input_wrap">
                            <label>Enter the Otp<span>*</span></label>
                            <input type="text" name="otp" class="form-control">
                        </div>
            
                       <span style="color: red;">{{error}}</span>
                        <div class="input_wrap">
                            <button type="submit">log in</button>
                        </div>
                        
                       
                    </form>
                </div>
  </div>